#container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#button {
    background-color:transparent;
    border: 2px solid gainsboro;
    border-radius: 10px;
    width: 100px;
    height: 60px;
    color: turquoise;
    font-size: 40px;
}